<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>hands</title>
        <link rel="stylesheet" href="/webroot/css/style.css" type="text/css" media="screen, projection" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/webroot/js/lib/jquery.ba-dotimeout.min.js"></script>
        <script type="text/javascript" src="/webroot/js/lib/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/webroot/js/lib/backbone/backbone-min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/webroot/js/models/hand.js"></script>
        <script type="text/javascript" src="/webroot/js/views/handview.js"></script>
        <script type="text/javascript" src="/webroot/js/brain.js"></script>
    </head>
    <body>
    </body>
</html>